<%- layout('layouts/boilerplate') %>
    <h1 class="text-center">Edit campground <%=item.title%>
    </h1>

    <!-- New Bootstrap form -->

    <div class="col-6 offset-md-3">
        <form action="/campground/<%=item._id%>?_method=PUT" method="POST" novalidate class="needs-validation"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="title"><b>Camp's title</b></label>
                <input type="text" class="form-control" id="title" name="campground[title]"
                    placeholder="insert the title" value="<%=item.title%>" required>

            </div>
            <div class="form-group my-3">
                <label for="location"><b>Camp's location</b></label>
                <input type="text" class="form-control" id="location" name="campground[location]"
                    placeholder="insert the location" value="<%=item.location%>" required>
                <div class="valid-feedback">
                    Awsome it's working!
                </div>
            </div>
            <div class="valid-feedback">
                Awsome it's working!
            </div>

            <div class="form-group my-3 ">
                <label for="description"><b>Camp's description</b></label>
                <textarea class="form-control" id="desciption" name="campground[description]" id="description" cols="30"
                    rows="10" required><%=item.description%></textarea>
                <div class="valid-feedback">
                    Awsome it's working!
                </div>

            </div>
            <div class="form-group my-3">
                <label for="price"><b>Camp's price</b></label>
                <input type="number" class="form-control" id="price" name="campground[price]"
                    placeholder="insert the price" value="<%=item.price%>" required>
                <div class="valid-feedback">
                    Awsome it's working!
                </div>
            </div>
            <div class="my-3">
                <label for="image" class="form-label"><b>Add image</b></label>
                <input class="form-control" type="file" id="image" multiple name="campground[image]">
            </div>
            <div class="my-3">
                <% item.images.forEach((img,i)=>{%>
                    <img src="<%=img.thumbnail%>" alt="" class="img-thumbnail">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% }) %>
            </div>
            <div class="form-group my-3">
                <button type="submit" class="btn btn-success">Edit Campground</button>
                <a href="/campground" class="btn btn-danger">Cancel</a>
            </div>
        </form>

        <form action="/campground/<%=item._id%>?_method=DELETE" method="POST">
            <button class="btn btn-warning">Delete Campground</button>
        </form>

    </div>