<%- layout('layouts/boilerplate') %>
    <h1 class="text-center"> Details on Camp: <b>
            <%=item.title%>
        </b>
    </h1>
    <!-- old Styling -->
    <!-- <div>
        <b>
            <%=item.title%>
        </b> is a camping site located in <b>
            <%= item.location %>
        </b>

    </div>
    <div><img style=" width : 300px; height : 300px" src="<%=item.image%>" alt=""></div>
    <div><b>Description:</b>
         <%=item.description%>
    </div>
    <div><b>Price:</b> This camp is priced at $<%=item.price%> a week
    </div>
    <div><a href="/campground">Back to all campgrounds</a></div>
    <div><a href="/campground/<%=item._id%>/edit">Edit campground</a></div> -->
    <!-- New bootstrap card -->
    <div class=""></div>
    <div class="col-6 offset-3 ">
        <div class="card" style="width: 18rem;">
            <img src="<%=item.image%>" class="card-img-top" alt="..." style=" width : 286px; height : 300px">
            <div class="card-body">
                <h5 class="card-title">
                    <%=item.title%>
                </h5>
                <p class="card-text"><b>Description:</b>
                    <%=item.description%>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Price:</b> This camp is priced at $<%=item.price%> a week</li>
                <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li> -->
            </ul>
            <div class="card-body">
                <div class="mb-3">
                    <a class="card-link btn btn-success" href="/campground">Back to all campgrounds</a>
                </div>
                <div class="mb-3"> <a Class="card-link btn btn-success" href="/campground/<%=item._id%>/edit">Edit
                        campground</a></div>

            </div>
        </div>
        <div class="my-3">
            <form action="/campground/<%=item._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Campground</button>
            </form>
        </div>

    </div>